:root {
}

.CreditTitle {
    font-size: 40px;
    -unity-text-align: upper-center;
    -unity-font-style: bold;
}

.RootElement {
    width: 100%;
    height: 100%;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}

.CreditScrollView {
    height: 100%;
    width: 100%;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}

.CreditContent {
    width: 100%;
    height: 100%;
}
